<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Persoana</title>
</head>
<body>
<div id="persoana">
    {{persoanaNoua}} <br>
    {{datePersoanale}}
    <br>
    Add Persoana : <label>
    <input placeholder="Prenumele si Numele" v-model="prenumeNumeNou">
</label>

    <label>
        <input placeholder="CNP" v-model="cnpNou">
    </label>
    <button v-on:click="addPersona">Adauga Persona</button><br>

</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="persoana.js"></script>
</html>
