<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Person</title>
</head>
<body>

<div id="person">
    {{newPerson}} <br>

    Add Person : <label>
    <input placeholder="Surname and Name" v-model="itemName.name"><br>
        <input placeholder="CNP" v-model="itemCNP">
    </label>

    <label for="sex-select"></label>

    <select name="sex" id="sex-select">
        <option value="">--Please choose an option--</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
        <option value="other">Other</option>
    </select>

    <label>
        <select v-model="personItem.sex">
            <option v-for="sex in personSex" v-bind:value="sex">
                {{ sex }}
            </option>
        </select>
    </label>
    <button v-on:click="addPerson">Add Person</button><br>
    <table border="10">
        <tr>
            <th>Name</th>
            <th>CNP</th>
            <th>Save</th>
            <th>Delete?</th>
        </tr>
        <tr is="person-item" v-for="item in items"
            v-bind:item-property="item"
            v-on:remove="removeItem(item)"></tr>
    </table>

</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="person.js"></script>
</html>
